<mat-tab-group mat-stretch-tabs class="demo-stretched-tabs mat-elevation-z4"
[selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab label="First">
    <p *ngFor="let content of fillerContent" id="fisrt_tab">
      {{content}}
    </p>
  </mat-tab>
  <mat-tab label="Second">
    <p *ngFor="let content of fillerContent" id="second_tab">
      {{content}}
    </p>
  </mat-tab>
  <mat-tab label="Third">
    <p *ngFor="let content of fillerContent" id="third_tab">
      {{content}}
    </p>
  </mat-tab>
</mat-tab-group>