#fisrt_tab{
    background-color: burlywood;
    margin: 10px;
}
#second_tab{
    background-color: darkgrey;
    margin: 10px;
}
#third_tab{
    background-color: lightblue;
    margin: 10px;
}

.mat-tab-group[mat-stretch-tabs] .mat-tab-label {
    flex-basis: 0;
    flex-grow: 1;
    background: antiquewhite;
    font-weight: bold;
    border: 2px solid;
    border-color: gray;
}
